{% extends 'base.html' %}
{% block content %}
    <article>
        <h1 class="article_title">{{ article.title }}</h1>
        <h3 class="publish">Written by {{ article.author }} on {{ article.published_date }}</h3>
        <p class="body">{{ article.body }}</p>
    </article>
    <form action="{% url 'create_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="article" value="{{  article.pk }}">
        <label class="form-title" for="name">Name</label>
        <input class="form-input" id="name" type="text" name="name">
        <label class="form-title" for="message">Comment</label>
        <textarea class="form-input" id="message" name="message" cols="30" rows="5"></textarea>
        <button class="submit" type="submit">
            <span>Post Comment</span>
        </button>
    </form>
    <h5 class="comment-title">Comments:</h5>
    <ul class="comments">
        {% for comment in article.comments.all %}
        <li>{{ comment.name }}: {{ comment }}</li>
        {% endfor %}
    </ul>

    <a class="back" href="{% url 'home' %}">Back to all articles</a>

{% endblock %}