{% extends 'base.html' %}
{% block content %}
    <article>
        <h1 class="article_title">{{ article.title }}</h1>
        <h3 class="publish">Written by {{ article.author }} on {{ article.published_date }}</h3>
        <p class="body">{{ article.body }}</p>
    </article>

    {% if error %}
    {{error}}
    {% endif %}

    {% if article.user == request.user %}
    <a href="{% url 'edit_article' id=article.id %}">Edit Article</a>
    {% endif %}

    <form action="{% url 'post_comment' id=article.id %}" method='POST'>
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button class="submit" type="submit">
            <span>Post Comment</span>
        </button>
    </form>

    <h5 class="comment-title">Comments:</h5>
    <ul class="comments">
        {% for comment in article.comments.all %}
        <li>{{ comment.name }}: {{ comment }}</li>
        {% endfor %}
    </ul>

    <a class="back" href="{% url 'home' %}">Back to all articles</a>

{% endblock %}