* {
    box-sizing: border-box;
}
html {
    background-color: #ebc6c3;    
}
.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
    color: #57d3b4;
    background-color: #e8f7f7;
    
    padding: 20px;
    text-align: center;
}
.title a {
    text-decoration: none;
    color: #57d3b4;
}
nav {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 750px;
    margin: 10px auto;
    display: flex;
}
nav a {
    padding: 
    text-decoration: none;
    text-align: justify;
}
main {
    background-color: #ebc6c3;
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}
.article_title {
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #102542;
    text-decoration: none;
    padding: 5px 0px;
    font-weight: bold;
}
.publish {
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    color: black;
    padding: 5px 0px;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    padding: 5px 0px;
    line-height: 1.25em;
    text-align: justify;
}
article {
    margin: 25px 0;
}
.topic {
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    color: grey;
    padding: 5px 0px;
    font-weight: bold;
}
.form-title, .form-input {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 0px;
}
.submit {
    display: block;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0px;
}
.comment-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin: 40px 0 10px;
}
.comments {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
.back {
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: navy;
    text-decoration: none;
    padding: 40px 0px;
}
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #57d3b4;
    background-color: #e8f7f7;
    padding: 10px;
    text-align: center;
}

